<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">

    <testsuites>
    <testsuite name="test-unit">
      <directory>./tests/unit</directory>
    </testsuite>
    <testsuite name="test-int">
      <directory>./tests/integration</directory>
    </testsuite>
  </testsuites>

</phpunit>